{% load static %}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="{{ message.tags}}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" required placeholder="Username">
                        <input type="password" name="password" required placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="#" class="forget">Forget Password</a>


                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" maxlength="12" minlength="8" required placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="number" name="phone" maxlength="10" minlength="10" required
                            placeholder="Phone number">
                        <input type="password" name="password" minlength="6" maxlength="10" required
                            placeholder="Password">

                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";

    }
    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translate(0px)";

    }

</script>
{% if register %}
    <script>
        register()
        
    </script>
    {% else %}
    <script>
        login()
        
    </script>
{% endif %}